
{% load static %}
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvas-menuLabel-about-sm">About Little Woolly Snuggles</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<hr class="mb-0">
<div class="offcanvas-body">
  <p class="mb-2">
    Little Woolly Snuggles is a boutique specializing in crafting original crochet goods. Each product is meticulously handcrafted using locally sourced Irish wool, adding a unique touch to every creation. 
  </p>
  <img src="{{MEDIA_URL}}croagh-patrick.jpg" class="w-100 image-fluid mb-2 rounded" alt="An image of Croagh Patrick on the Wild Atlantic Way">
  <p>
    Nestled in County Mayo along the enchanting <a href="https://www.thewildatlanticway.com/" target="_blank" rel="noreferrer" class="text-decoration-underline">Wild Atlantic Way</a> , our company takes pride in offering locally made items that celebrate Irish craftsmanship. From cozy blankets to intricate crafting, our wool crafting expertise provides customers with the opportunity to buy one-of-a-kind, handcrafted pieces. 
  </p>
  <img src="{{MEDIA_URL}}sheep.jpg" class="w-100 image-fluid mb-2 rounded" alt="An image of a sheep on a mountainside">
  <p>
  <p>
   Curious about learning the art of crocheting? Little Woolly Snuggles offers resources and guidance for beginners, making it easy to embark on your crochet journey and create your own beautiful pieces. Experience the charm of Irish craftsmanship and shop our collection of handcrafted goods today.
  </p>
</div>