{% load static %}
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvas-menuLabel">Account</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<hr>
<div class="offcanvas-body">
  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
  <div class="row">
    <div class="col-12 mt-2">    
      <a href="">
        <i class="fa-solid fa-industry fa-xl me-4 d-inline"></i>
        <p class="d-inline">Product Management</p> 
      </a>
    </div>
  </div>
  <hr>
  {% endif %}
  <div class="row">
    <div class="col-12 mt-3">    
      <a href="">
        <i class="fa-solid fa-user fa-xl me-4 d-inline"></i>
        <p class="d-inline">My Profile</p> 
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 mt-3">    
      <a href="{% url 'account_logout' %}">
        <i class="fa-solid fa-right-from-bracket fa-xl me-4 d-inline"></i>
        <p class="d-inline">Logout</p> 
      </a>
    </div>
  </div>
  <hr>
{% else %}
<div class="row">
  <div class="col-12 mt-2">    
    <a href="{% url 'account_signup' %}">
      <i class="fa-solid fa-file-pen fa-xl d-inline"></i>
      <p class="d-inline ms-4">Register</p> 
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 mt-3">    
    <a href="{% url 'account_login' %}">
      <i class="fa-solid fa-right-to-bracket fa-xl d-inline"></i>
      <p class="d-inline ms-4 ">Login</p> 
    </a>
  </div>
</div>
<hr>
{% endif %}
</div>

