<div class="offcanvas-header">
  <img src="{{MEDIA_URL}}logo-transparent-background.webp" class="rounded me-2 offcanvas-logo" alt="Little Woolly Snuggles Logo">
  <h5 class="offcanvas-title" id="offcanvas-menuLabel-login-sm">Login to your Account</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>
  <div class="offcanvas-body">
<form method="post" action="{% url 'account_login' %}?next={{request.path}}">
  {% csrf_token %}
    <div class="row">
      <div class="col-4 mt-2 text-end">    
        <p><label for="id_login_1">Username:</label></p>
      </div>
      <div class="col-8 mt-1">    
        <p><input type="text" name="login" placeholder="Username or e-mail" required id="id_login_1" class="login-username-input form-control"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mt-3 text-end">    
        <p><label for="id_password_1">Password:</label></p>
      </div>
      <div class="col-8 mt-2">    
        <p><input type="password" name="password" placeholder="Password" required id="id_password_1" class="form-control"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mt-3 mx-auto">    
        <input type="submit" value="Log in" class="btn-custom w-100 p-2">
        <input type="hidden" name="next" value="">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 mt-3 text-end pe-1">    
        <label for="id_remember_1">Remember Me:</label>
      </div>
      <div class="col-2 mt-3 ps-1">
        <input type="checkbox" name="remember" id="id_remember_1">
      </div>
    </div>
</form>
</div>
<p class="text-center mx-2 mb-4">Don't have an account yet? Not to worry,<br>you can <a href="#" class="offcanvas-register-button text-decoration-underline">sign up</a>
  here.</p>