<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvas-menuLabel-profile-sm">My Profile</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<hr>

<div class="offcanvas-body">
  <div class="row">
    <div class="col-12">
      <h6>User Details</h6>
      <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div class="row">
          <div class="col-12 my-1">
            <div class="form-group">
              <label for="id_username" class="">
                User
              </label>
              <div>
                <input type="text" name="username" value="{{user.username}}" maxlength="30"
                  class="textinput textInput form-control" id="id_username_sm" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 my-1">
            <div class="form-group">
              <label for="id_username" class="">
                email
              </label>
              <div>
                <input type="text" name="email" value="{{user.email}}" maxlength="30"
                  class="textinput textInput form-control" id="id_email_sm" readonly>
              </div>
            </div>
          </div>
        </div>
        {% for input in profile_form_small %}
        <div class="row">
          <div class="col-12 my-1">
            {{input | as_crispy_field}}
          </div>
        </div>
        {% endfor %}
        <div class="row">
          <div class="col-10 mt-3 mx-auto">
            <button type="submit" value="Log in" class="btn-custom w-100 p-2">
              <span class="d-inline me-2">Update Profile</span>
              <i class="fa-solid fa-user fa-xl d-inline"></i>
            </button>
            <input type="hidden" name="next" value="">
          </div>
        </div>
        {% endif %}
      </form>
    </div>
    <hr class="my-4">
  </div>
</div>
<p class="text-center mx-2 mb-4">Check out your order history <a href="{% url 'profile' %}" class="offcanvas-register-button text-decoration-underline">here.</a>
