<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvas-menuLabel-register-sm">Register for an Account</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>

  <div class="offcanvas-body">
<form method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
    <div class="row">
      <div class="col-4 mt-2 text-end">    
        <p><label for="id_email_1">E-mail:</label></p>
      </div>
      <div class="col-6 mt-1">    
        <p><input type="email" name="email" placeholder="E-mail address" maxlength="320" required id="id_email_1" class="form-control register-email-input"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mt-3 text-end">    
        <p><label for="id_email2_1">E-mail (again):</label></p>
      </div>
      <div class="col-6 mt-2">    
        <p><input type="email" name="email2" placeholder="E-mail address confirmation" maxlength="320" required id="id_email2_1" class="form-control"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mt-3 text-end">    
        <p><label for="id_username_1">Username:</label></p>
      </div>
      <div class="col-6 mt-2">    
        <p><input type="text" name="username" placeholder="Username" minlength="4" maxlength="150" required id="id_username_1" class="form-control"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mt-2 text-end">    
        <p><label for="id_password1_1">Password:</label></p>
      </div>
      <div class="col-6 mt-1">    
        <p><input type="password" name="password_1" placeholder="Password" required id="id_password1_1" class="form-control"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 mt-3 text-end">    
        <p><label for="id_password2_1">Password (again):</label></p>
      </div>
      <div class="col-6 mt-2">    
        <p><input type="password" name="password_2" placeholder="Password (again)" required id="id_password2_1" class="form-control"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-5 mt-3 mx-auto">
        <button type="submit" value="Log in" class="btn-custom w-100 p-2"> 
          <span class="d-inline me-2">Sign Up</span> <i class='fa-solid fa-file-pen fa-lg d-inline'></i>
        </button>
        <input type="hidden" name="next" value="" />
      </div>
    </div>
  </form>
  </div>

<p class="text-center mx-2 mb-4">Already have an account? Then please <a href="#"
  class="offcanvas-login-button text-decoration-underline">sign in</a></p>