{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block extra_title %}
{{ block.super }}
- Cart
{% endblock %}

{% block content %}
<div class="container-fluid products-container mt-2 w-100">
    <div class="row pt-lg-2">
        <div class="col-12 col-md-4 mx-auto">
            <h2 class="text-center main-title">Cart</h2>
            <hr class="mx-auto main-hr">
        </div>
    </div>
    <div class="container-fluid g-0 justify-content-center">
        {% if cart_items|length > 0%}
        <div class="row">
            <div class="col-md-9">
                <div class="table-responsive rounded ms-md-2">
                    <table class="table product-table">
                        <thead class="text-white position-relative">
                            <tr>
                                <th scope="col">
                                    <h5 class="m-0 text-center">Product Info</h5>
                                </th>
                                <th scope="col">
                                    <h5 class="m-0 text-center">Price</h5>
                                </th>
                                <th scope="col">
                                    <h5 class="m-0 text-center">Details</h5>
                                </th>
                                <th scope="col">
                                    <h5 class="m-0 text-center">Subtotal</h5>
                                </th>
                            </tr>
                        </thead>
                        {% for item in cart_items %}
                        <tr class="cart-table-row">
                            <td class="py-3 pe-3 cart-image-td align-middle">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        {% if item.product.image %}
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                            alt="{{ product.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded"
                                            src="https://placeholder.pics/svg/300x300/DEDEDE/555555/No%20Image%20available"
                                            alt="{{ product.name}}">
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <p class="mt-2 text-center"><strong>{{ item.product.name }}</strong></p>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-center">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 details-col">
                                <div class="row justify-content-center">
                                    <div class="col-6 text-center text-white">
                                        <h6>Quantity</h6>
                                    </div>
                                </div>
                                <form method="POST" action="{% url 'adjust_cart' item.item_id %}"
                                    class="cart-update-form">
                                    {% csrf_token %}
                                    <div class="form-group mx-auto w-100 px-2">
                                        <div class="input-group">
                                            <button
                                                class="btn btn-custom order-1 order-lg-2 minus-button cart-minus-button"
                                                type="button" id="minus-button-{{ forloop.counter0 }}"><i
                                                    class="fa-solid fa-square-minus"></i></button>
                                            <input
                                                class="form-control text-center qty-input cart-qty-input order-3 order-lg-1"
                                                type="number" name="quantity" value="{{ item.quantity }}"
                                                id="input-button-{{ forloop.counter0 }}" min="0" max="99">
                                            <button
                                                class="btn btn-custom order-2 order-lg-3 plus-button cart-plus-button"
                                                type="button" id="plus-button-{{ forloop.counter0 }}"><i
                                                    class="fa-solid fa-square-plus "></i></button>
                                        </div>
                                        <div class="row justify-content-center attributes-info">
                                            {% if item.size %}
                                            <div class="col-12 ms-1 mt-1 me-1">
                                                <i class="fa-solid fa-ruler-horizontal d-inline"></i>
                                                <p class="m-0 d-inline">Size: {{item.size}}</p>
                                            </div>
                                            {% endif %}
                                            {% if item.secondary_colour %}
                                            <div class="col-12 ms-1 mt-1">
                                                <i class="fa-solid fa-palette d-inline me-1"></i>
                                                <p class="m-0 d-inline">Primary Colour: {{item.colour}}</p>
                                            </div>
                                            <div class="col-12 ms-1 mt-1">
                                                <i class="fa-solid fa-palette d-inline me-1"></i>
                                                <p class="m-0 d-inline">Secondary Colour: {{item.secondary_colour}}</p>
                                            </div>
                                            {% elif item.colour and not item.secondary_colour %}
                                            <div class="col-12 ms-1 mt-1">
                                                <i class="fa-solid fa-palette d-inline me-1"></i>
                                                <p class="m-0 d-inline">Primary Colour: {{item.colour}}</p>
                                            </div>

                                        </div>
                                    </div>
                                    {% endif %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                    <input type="hidden" name="product_colour" value="{{ item.colour }}">
                                    <input type="hidden" name="secondary_product_colour"
                                        value="{{ item.secondary_colour }}">
                                </form>
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-center">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                <div class="row text-center mt-2 justify-content-center "
                                    id="update-item-{{item.item_id}}">
                                    <div class="col-12 col-lg-6 z-3 m-2 update-button-popover-container" role="button"
                                        data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true"
                                        data-bs-sanitize="false" data-bs-placement="top"
                                        title="<img src='{{MEDIA_URL}}logo-transparent-background.png' class='rounded me-2 popover-logo'>Change Quantity"
                                        data-bs-content='{% include "includes/popovers/update-button-popover.html" %}'>
                                        <div class="btn-custom item-button p-1 update-button">
                                            Update<br>Item
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 m-2">
                                        <div class="btn-custom item-button p-1 remove-button"
                                            id="remove-item-{{item.item_id}}">
                                            Remove<br>Item{% if item.quantity > 1%}s{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container g-0 checkout-summary position-fixed shadow my-2">
        <div class="row px-3">
            <div class="col-6 col-md-12 pt-2 pt-md-3">
                <div class="row w-100">
                    <div class="col-12">
                        <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                    </div>
                    <div class="col-12 ">
                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-12 ">
                <h4 class="mt-3 mt-md-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                    You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                    more!
                </p>
                {% endif %}
            </div>
            <div class="col-12 my-md-3 d-flex justify-content-center">
                <a href="{% url 'checkout' %}" class="btn btn-custom btn-lg">
                    <span>Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
            <div class="col-12 mt-1 mt-md-0 pb-2 pb-md-3 cart-back-a d-flex justify-content-center">
                <a href="{% url 'products' %}" class="btn rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Back to Products</span>
                </a>
            </div>
        </div>
    </div>
    {% else %}
</div>
<div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
        <p class="lead mb-5 mt-4">Your cart is empty.</p>
        <a href="{% url 'products' %}" class="btn rounded-0 mb-3">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Back to Products</span>
        </a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}