{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid home-container mt-5 w-100">
    <div class="row h-100" >
        <div class="col-6 pr-3 home-image-main">
        </div>
        <div class="col-5 image-grid mx-auto">
            <div class="row h-50 pb-3">
              <div class="col-5 home-image-1 mx-auto">
               
              </div>
              <div class="col-5 home-image-2 mx-auto">

              </div>
            </div>
            <div class="row h-50 pt-3">
              <div class="col-5 home-image-3 mx-auto">

              </div>
              <div class="col-5 home-image-4 mx-auto">

              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}