{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block extra_title %}
{{ block.super }}
- Welcome
{% endblock %}

{% block content %}

  <div class="container-fluid home-container mt-4 w-100">
    <div class="row h-100 pt-lg-2" >
        <div class="col-12 pb-3 px-md-4 ps-lg-3 pe-lg-2 pb-lg-0 col-lg-6 ">
          <div class="home-image-main h-100">
            <div class="row h-100">
              <div class="col-5 offset-7">
                  <div class="p-3 home-image-callout d-flex flex-column justify-content-evenly">
                    <h5 class="text-center">Browse <br class="d-md-none">All Products</h5>
                    <p class="text-center d-none d-md-block">Take a look at our entire selection of crocheted goods and learning materials. </p>
                    <div class="row">
                      <div class="col-12 mx-auto d-flex justify-content-center">
                        <a href="{% url 'products' %}" class="btn btn-custom text-center">Shop Now</a>
                      </div>
                    </div>
                </div>
              </div>
             </div>
          </div>
        </div>
        {% include 'includes/index-image-grid.html' %}
    </div>
  </div>
{% endblock %}