{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid home-container mt-4 w-100">
    <div class="row h-100 pt-2" >
        <div class="col-6 ps-3">
          <div class="home-image-main h-100">
            <div class="row h-100">
              <div class="col-4 mx-auto my-auto">
                  <div class="bg-white p-3">
                    <h5>Browse All Products</h5>
                    <p>Take a look at our entire selection of crocheted goods and learning materials. </p>
                </div>
              </div>
             </div>
          </div>
        </div>
        <div class="col-6 image-grid mx-auto">
            <div class="row h-50 pb-3 pe-3">
              <div class="col-6 ps-5 g-0">
                <div class="home-image-1 h-100">

                </div>
              </div>
              <div class="col-6 ps-5 g-0">
                <div class="home-image-2 h-100"></div>
              </div>
            </div>
            <div class="row h-50 pt-3 pe-3">
              <div class="col-6 ps-5 g-0">
                <div class="home-image-3 h-100"></div>
              </div>
              <div class="col-6 ps-5 g-0">
                <div class="home-image-4 h-100"></div>
              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}