.order-history-container-main {
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efeeee50;
    border-radius: 5px;
}


/* transition to small screens */
@media (max-width: 768px) {
    .order-history-container-main {
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: transparent;
    }
}