/* ----------------------------------- Cart Page Styling ----------------------------------- */

.cart-table-row{
    color: #4d6562;
}

.checkout-summary {
    border: 1px solid #f1d5e5;
    border-radius: 20px;
    background-color: #fff;
    color: #4d6562;
    right: 30px;
    top: 230px;
    width: 25%;
}

.cart-back-a .btn{
    color: #4d6562;
    font-size: clamp(0.8rem, 1.3vw, 1.25rem);
}

.checkout-summary h4 {
    font-size: clamp(0.8rem, 1.75vw, 1.5rem);
}

.checkout-summary h6 {
    font-size: clamp(0.7rem, 1.5vw, 1.3rem);
}

.btn-lg {
    font-size: clamp(0.9rem, 1.5vw, 1.25rem);
}

/* ----------------------------------- Responsive Styling ----------------------------------- */


/* transition to medium screens */
@media (max-width: 992px) {
    .checkout-summary{
        top: 300px;
    }

    .cart-qty-input {
        width: 100% !important;
    }

    .cart-minus-button, .cart-plus-button {
        width: 50%;
        border-radius: 0;
        padding: 0.2rem;
    }
    .cart-minus-button i, .cart-plus-button i{
        font-size: 0.8rem;
    }
}

/* transition to small screens */
@media (max-width: 768px) {

    .checkout-summary{
        position: inherit !important;
        width: 100%;
    }

    .btn-lg {
        width: 75%;
    }

    .product-table h5, .product-table p{
        font-size: 0.8rem;
    }

    .product-table td {
        padding: 0.1rem 0.1rem;
    }
}