/* ----------------------------------- Cart Page Styling ----------------------------------- */

.cart-table-row{
    color: #4d6562;
    border-bottom: 0.5px solid #ffffff90;
}

.checkout-summary {
    border: 1px solid #f1d5e5;
    border-radius: 20px;
    background-color: #fff;
    color: #4d6562;
    right: 15px;
    top: 230px;
    width: 23%;
}

.cart-back-a .btn{
    color: #4d6562;
    font-size: clamp(0.8rem, 1.2vw, 1.15rem);
}

.cart-image-td {
    width: 33%;
}

.product-table h6{
    font-size: 0.8rem;
    font-weight: 400;
}

.item-button {
    border-radius: 5px;
    font-size: 0.75rem;
}

.item-button:hover {
    border-radius: 5px;
}

.checkout-summary h4 {
    font-size: clamp(0.8rem, 1.65vw, 1.4rem);
}

.checkout-summary h6 {
    font-size: clamp(0.7rem, 1.3vw, 1.2rem);
}

.details-col {
    width: 25%;
}

.btn-lg {
    font-size: clamp(0.9rem, 1.4vw, 1.15rem);
}

.cart-update-form .form-control {
    font-size: 0.9rem;
}

.cart-minus-button {
    border-radius: 0;
}

.cart-minus-button:hover {
    border-radius: 0;
}

.cart-qty-input {
    border-radius: 5px 0 0 5px !important;
}

.cart-minus-button i, .cart-plus-button i{
    font-size: 0.8rem;
}

.update-btn {
    font-size: 0.8rem;
}

.attributes-info {
    font-size: 0.75rem;
}

.popover-info .popover-header {
    color: #fff;
    background-color: rgba(0,90,146,0.8);

}
/* ----------------------------------- Responsive Styling ----------------------------------- */


/* transition to medium screens */
@media (max-width: 992px) {
    .checkout-summary{
        top: 300px;
    }

    .cart-qty-input {
        width: 100% !important;
    }

    .details-col {
        width: 45%;
    }

    .cart-image-td {
        width: 50%;
    }

    .cart-update-form .form-control {
        font-size: 0.75rem;
    }

    .cart-minus-button, .cart-plus-button {
        width: 50%;
        border-radius: 0;
        padding: 0.2rem;
    }
    .cart-minus-button i, .cart-plus-button i{
        font-size: 0.7rem;
    }

    .cart-qty-input {
        border-radius: 0 !important;
    }
}

/* transition to small screens */
@media (max-width: 768px) {


    .checkout-summary{
        position: inherit !important;
        width: 100%;
    }

    .btn-lg {
        width: 75%;
    }

    .product-table h5, .product-table p{
        font-size: 0.8rem;
    }
    .product-table h6{
        font-size: 0.6rem;
    }
    .product-table td {
        padding: 0.1rem 0.1rem;
    }
}