html {
    height: 100%;
}

body {
    background-image: linear-gradient(180deg,
            #81a8a3 0%,
            #b8d3d0 35%,
            #b8d3d0 65%,
            #81a8a3 100%);
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
    font-weight: 200;
    letter-spacing: 2.5px;
}

.btn-custom {
    border: 1px solid #4d6562;
    border-radius: 30px;
    color: #4d6562;
    background-color: #f2cbe1;
}

.btn-custom:hover {
    border: 1px solid #f2bfdc;
    border-radius: 30px;
    color: #f2cbe1;
    background-color: #4d6562;
}

.btn:focus {
    border-color: #f2bfdc;
    box-shadow: 0 0 0 0.125rem rgba(242, 191, 220, 0.55);
}

.search-bar::placeholder {
    opacity: 0.7;
}

#back-to-top {
    background-color: #f1d5e5;
    color: #4d6562;
    width: 60px;
    height: 60px;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    border: 1px solid #698a85;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 500;
    visibility: hidden;
}

#back-to-top:hover {
    color: #f2cbe1;
    background-color: #4d6562;
    border: 1.5px solid #f2bfdc;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    animation-name: round-button-hover;
    animation-duration: 0.5s;
    transform: scale(1.1);
}

@keyframes round-button-hover {
    from {  background-color: #f1d5e5;
            border: 1px solid #698a85;
            color: #4d6562;
            box-shadow: none;
            transform: scale(1);
        }
    to {    border-color:#f2bfdc;
            color: #f2cbe1;
            background-color: #4d6562;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
            transform: scale(1.1);        }
}
/* ----------------------------------- Notifications Styling ----------------------------------- */
.toast {
    top:10px;
    right: 10px;
    background-color: rgba(255,255,255,.95);
    z-index: 999;
}

.toast-container {
    top: 3%;
    left: 3%;
}

.toast-header {
    font-family: 'Bitter', serif;
    font-weight: 200;
    letter-spacing: 2.5px;
}

.toast-logo{
    width: 20px;
    height: 20px;
}

.toast-header-error {
    background-color: rgba(194,58,34,0.8);
}

.toast-header-success {
    background-color: rgba(67,114,0,0.8);
}

.toast-header-info {
    background-color: rgba(0,90,146,0.8);
}

.toast-header-warning {
    background-color: rgba(255,193,16,0.8);
}

.toast .btn-close {
    width: 15px;
    height: 15px;
}

.login-error ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.2em;
}

.toast-body ul {
    padding-left: 0.8em;
    margin-bottom: 0;
}

.cart-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fffaf0;
}

svg {
    fill: #fff;
    width: 35px;
    height: 35px;
}

/* ----------------------------------- Allauth Styling ----------------------------------- */

.email-container {
    height: 50vh;
}
/* ----------------------------------- Off Canvas Sidebar Styling ----------------------------------- */


.offcanvas {
    border-radius: 30px 0 0 30px;
    background-color: #fff;
    color: #698a85;
}

.offcanvas-bottom {
    border-radius: 30px 30px 0 0;
    background-color: #fff;
    color: #698a85;
    width: 100%;
    height: 85%;
}

#offcanvas-menu-nav p {
    font-size: 1.25rem;
}

#offcanvas-menu-login, #offcanvas-menu-register {
    width: 550px;
}

#offcanvas-menu-profile {
    width: 650px;
}

#offcanvas-menu-logout {
    width: 400px;
}

.asteriskField {
    display: none !important;
}


.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23698a85'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.offcanvas-header {
    padding: 1rem 1rem 0 1rem;
}

.offcanvas .offcanvas-body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
}

.offcanvas-body hr {
    height: 0.5px;
}

.offcanvas a {
    text-decoration: none;
    color: #698a85;
}

.offcanvas li {
    list-style-type: none;
}

.offcanvas label {
    font-size: 0.8rem;
}

#offcanvas-menu-account {
    width: 300px;
}

.order-history-container {
    height: 690px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efeeee50;
    border-radius: 5px;
}

.profile-hr {
    color: #f1d5e5;
    opacity: 0.98;
    height: 1px;
}
/* ----------------------------------- Header Styling ----------------------------------- */

header {
    font-family: 'Bitter', serif;
    font-weight: 200;
    letter-spacing: 2.5px;
}

.nav-container {
    margin-right: 0;
}
.search-bar {
    color: #698a85;
    border: 1px solid #f2bfdc;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

.form-control:focus {
    border-color: #f2bfdc;
    box-shadow: 0 0 0 0.125rem rgba(242, 191, 220, 0.55);
}

.main-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lws-logo {
    height: 50px;
}

.lws-logo:hover {
    color: #f1d5e5;
    opacity: 0.7;
}

.lws-logo-font {
    font-family: 'Sacramento', cursive;
    font-size: calc(1.5rem + .9vw);
}

header .nav-link {
    color: #ffffff;
    padding: 0.5rem 0;
}

header .nav-link:active {
    color: #000;
}

header .nav-link:hover {
    color: #eddfe7 !important;
}

header .nav-link:focus {
    color: #ffffff;
}

.search-bar {
    border-radius: 20px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.dropdown-menu hr {
    color: #fff;
    width: 80%;
    margin: 0.5em 0;
    height: 1px !important;
    opacity: 1;
}

.dropdown-item {
    color: #698a85;
}

.dropdown-svg svg{
    fill:  #698a85 !important;
}

.offcanvas-button-sm {
    font-size: 1.2rem;
}
/* ----------------------------------- Home Page Styling ----------------------------------- */

.home-container {
    height: 700px;
}

.home-image-main,
.home-image-1,
.home-image-2,
.home-image-3,
.home-image-4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-radius: 20px;
    border: 0.5px solid #f2bfdc;
}

.home-image-main {
    background-image: url("/static/images/crochet-hook.webp");
}

.home-image-1 {
    background-image: url("/static/images/gift-set.webp");
}

.home-image-2 {
    background-image: url("/static/images/learn.webp");
}

.home-image-3 {
    background-image: url("/static/images/teddy-bear-hats.webp");
}

.home-image-4 {
    background-image: url("/static/images/blanket.webp");
}

.home-image-flex {
    align-items: flex-end;
}

.image-grid img {
    height: 300px;
    max-width: 80%;
    object-fit: cover;
    border-radius: 10px;
    ;
}

.home-image-callout {
    border-radius: 0 20px 0 20px;
    border-left: 1px solid #f2bfdc;
    border-bottom: 1px solid #f2bfdc;
    color: #Fff;
    background-color: rgba(77, 101, 98, 0.7);
}

.small-home-callout {
    border-radius: 20px 0 20px 0;
    border-left: 1px solid #f2bfdc;
    border-top: 1px solid #f2bfdc;
    color: #fff;
    background-color: rgba(77, 101, 98, 0.8);
}

.small-home-callout h6 {
    font-size: 0.9em;
    ;
}

.small-home-callout p {
    font-size: 0.8em;
    ;
}

.small-home-callout button {
    font-size: 0.75em;
    ;
}

/* ----------------------------------- Products and Product Detail Pages Styling ----------------------------------- */

.main-hr {
    color: #fff;
    width: 45%;
    height: 2px !important;
    opacity: 1;
}

.main-title {
    color: #fff;
}


.product-card {
    cursor: pointer;
}

.product-card {
    color: #4d6562;
    border-radius: 5px;
}

@keyframes product-card-hover {
    from {  background-color: rgba(77,101,98,0);
            border: 0.5px solid rgba(242, 191, 220, 0);
            box-shadow: none;
            transform: scale(1);
        }
    to {    background-color: rgba(77,101,98,1);
            border: 1.5px solid #f1d5e5;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
            transform: scale(1.02);
        }
    }

.product-card:hover  {
    color: #f1d5e5;
    background-color: #4d6562;
    border: 1.5px solid #f1d5e5;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    animation-name: product-card-hover;
    animation-duration: 1.5s;
    transform: scale(1.02);
}

.product-title p {
    font-size: clamp(1.3rem, 2.75vw, 1.5rem);
}


.product-image img,
.product-detail-image img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.product-detail-image img {
    height: 500px;
    border-radius: 30px;
}

.product-detail-card p {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.product-price p {
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 400;
}

.product-detail-card a {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.product-detail-return a {
    font-size: clamp(0.8rem, 2vw, 1rem);
    text-decoration: underline;
    color: #fff;
}

.circle-banner,
.circle-banner-detail {
    background-color: #f1d5e5;
    color: #4d6562;
    width: 75px;
    height: 75px;
    z-index: 99;
    top: 20px;
    left: 20px;
    border: 1px solid #698a85;
}

.circle-banner-detail {
    top: 6px;
    left: 8px;
}

.circle-banner p,
.circle-banner-detail p {
    font-size: 0.6rem;
}

.product-att-text p {
    font-size: clamp(0.4rem, 2vw, 0.6rem);
}

.product-att-title p {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}
.popover {
    max-width: 300px;
}

.popover-header {
    text-align: center;
    color: #4d6562;
    background-color: #f1d5e5;
}

.popover-body {
    padding: 0.5em;
    color: #4d6562;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 0.9em;
}

.popover-logo {
    width: 20px;
    height: 20px;
    float:inline-start;
}

.popover-error .popover-header {
    color: #fff;
    background-color: rgba(194,58,34,0.8);

}

.popover-body img {
    width: 90%;
    margin: 5px 0;
}

.attributes-button {
    background-color: #f2cbe1;;
    color: #4d6562;
    width: 30px;
    height: 30px;
    border: 1px solid #698a85;
    text-decoration: none;
}

.attributes-button:hover {
    border-color:#f2bfdc;
    color: #f2cbe1;
    background-color: #4d6562;
}

.attributes-button i {
    font-size: 0.8rem;
}

.size-chart-div {
    position: relative;
}

/* 
solution to styling of elements on parent div hover:
https://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling
 */

.size-chart-div:hover .size-chart-p{
    border-color:#f2bfdc;
    color: #f2cbe1;
    background-color: #4d6562;
}

.size-chart-p {
    color: #4d6562;
    font-size: 0.8rem;
    padding: 5px;
    background-color: #f2bfdc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border: 1px solid #698a85;
    border-radius: 20px;
}

.form-select:focus {
    border-color: #f2bfdc;
    box-shadow: 0 0 0 0.125rem rgba(242, 191, 220, 0.55);
}

.sort-select-wrapper {
    width: 75%;
}

.select-sorting {
    border : 2px solid #f2bfdc;
}

.custom-link {
    color:#fff;
    opacity: 0.9;
}

.svg-small svg {
    width: 15px;
    height: 15px;
    fill: #4d6562;
}

.gift {
    width: 15px;
    height: 15px;
    stroke: #4d6562;
}

.main-icons .gift {
    stroke: #fff
}
.size-colour-row {
    z-index:999;
    top:15px;
    left:35px;
    width: 15%;
}
/* solution to hiding input arrow buttons:
https://www.w3docs.com/snippets/css/how-to-hide-the-html5-number-inputs-arrow-buttons.html#:~:text=If%20you%20want%20to%20hide,to%20hide%20the%20arrow%20buttons.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.minus-button {
    border-radius: 5px 0 0 5px;
    border: 0.5px solid #4d6562;
}

.plus-button {
    border-radius: 0 5px 5px 0;
    border: 0.5px solid #4d6562;
}

.plus-button:hover {
    border-radius: 0 5px 5px 0;
}

.minus-button:hover {
    border-radius: 5px 0 0 5px;
}

.qty-input {
    border: 0.5px solid #4d6562;
}

#id_product_size, #id_product_colour, #id_secondary_product_colour {
    border: 0.5px solid #4d6562;
}

.form-check-input:checked {
    background-color: #f2cbe1;
    border-color: #f1d5e5;
    color: #4d6562;
}

.form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(77,101,98,0.25);
}

#add-product-button {
    background-color: #f1d5e5;
    color: #4d6562;
    z-index: 99;
    border: 1px solid #698a85;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 500;
    height: fit-content;
}

#add-product-button:hover {
    color: #f2cbe1;
    background-color: #4d6562;
    border: 1.5px solid #f2bfdc;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    animation-name: round-button-hover;
    animation-duration: 0.5s;
    transform: scale(1.1);
}

#edit-product-button {
    background-color: #f1d5e5;
    color: #4d6562;
    z-index: 99;
    border: 1px solid #698a85;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 500;
    height: fit-content;
}

#edit-product-button:hover {
    color: #f2cbe1;
    background-color: #4d6562;
    border: 1.5px solid #f2bfdc;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    animation-name: round-button-hover;
    animation-duration: 0.5s;
    transform: scale(1.1);
}

#delete-product-button {
    background-color: rgba(229,57,53,0.8 );
    color: #fff;
    z-index: 99;
    border: 1px solid #fff;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 500;
    height: fit-content;
}

#delete-product-button:hover {
    color: #e53935;
    background-color: rgba(245, 245, 245, 0.8);
    border-color: #e53935;
}
.edit-image img,
.product-detail-image img {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 20px;
}
.edit-image img{
    height: 275px;
}

/* ----------------------------------- Error Page Styling ----------------------------------- */

#error-timer {
    font-weight: 900;
  }
  
  .error-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-redirect p {
    margin: 0 10px;
  }
  
  .status-code-exception {
    font-size: 1.2rem;
  }

/* ----------------------------------- Footer Styling ----------------------------------- */

footer {
    margin-top: auto;
    color: #fff;
}

footer h5, footer input{
    font-size: 0.8rem;
}
#mc_embed_signup{
    width: 100%;
}

#mc-embedded-subscribe{
    width: fit-content;
    color: #4d6562;
    border: 1px solid #4d6562 !important;
    border-radius: 15px !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

#mc-embedded-subscribe:hover{
    color: #f2bfdc;
    border-color: #f2bfdc !important;
}

#mc_embed_signup input:focus {
    border-color: #f2bfdc !important;
    box-shadow: 0 0 0 0.125rem rgba(242, 191, 220, 0.55) !important;
}
footer p, footer label{
    margin: 0;
    font-size: 0.7rem;
}


.footer-text a {
    text-decoration: none;
    color: #fff;
}

.footer-logo {
    width: 40px;
    height: 40px;
}

.footer-img {
    width: 40px;
    height: 40px;
}

#mc_embed_signup .mc-field-group input {
    width: 100%;
}
/* ----------------------------------- Responsive Styling ----------------------------------- */

/* transition to medium screens */
@media (max-width: 992px) {

    .home-image-main {
        background-position: top;
    }

    .home-image-callout {
        height: 100%;
    }

    .home-image-callout {
        border-radius: 0 20px 20px 0;
        border-bottom: none;
    }

    .home-container {
        height: 800px;
    }

    .edit-image img{
        height: 350px;
    }
}

/* transition to small screens */
@media (max-width: 768px) {
    .home-image-callout h5 {
        font-size: clamp(0.9rem, 4vw, 1.15rem);
    }

    .home-image-callout p,
    .home-image-callout button {
        font-size: clamp(0.55rem, 3vw, 0.75rem);
    }

    .header-sm {
        font-size: 0.9rem;
    }

    .product-detail-image img {
        height: 250px;
    }

    #mc_embed_signup .foot {
        grid-template-columns: 3fr 1fr !important;
    }
    
    .refferal_badge {
        width: 175px;
    }

    .home-image-main,
    .home-image-1,
    .home-image-3,
    .home-image-4 {
        height: 200px !important;
        background-position: bottom;
    }

    .home-image-2 {
        height: 200px !important;
        background-position: center -50px;
    }

    .home-container {
        height: auto;
    }
}

@media (max-width: 430px) {
    
   .minus-button, .plus-button {
       padding: 0;
   }

   .btn-custom {
    font-size: 0.8em;
   }
   .toast {
    right: 0;
    left:0;
    margin-left: auto;
    margin-right: auto;
}
}