html {
    height: 100%;
}

body {
    background-image: linear-gradient(
    180deg,
    #81A8A3 0%,
    #b8d3d0 35%,
    #b8d3d0 65%,
    #81A8A3 100%
  );
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bitter', serif;
    font-weight: 200;
    letter-spacing: 2.5px;
}

.search-bar {
    border: 1px solid #F2BFDC;
}

.btn-custom {
    border: 1px solid #4d6562;
    border-radius: 30px;
    color: #4d6562;
    background-color: #f2cbe1;
}

.btn-custom:hover {
    border: 1px solid #F2BFDC;
    border-radius: 20px;
    color: #f2cbe1;
    background-color: #4d6562;
}

/* ----------------------------------- Off Canvas Sidebar Styling ----------------------------------- */


.offcanvas {
    border-radius: 30px 0 0 30px;
    background-color: #fff;
    color: #698a85;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23698a85'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.offcanvas-header {
    padding: 1rem 1rem 0 1rem;
}

.offcanvas .offcanvas-body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
}

.offcanvas a {
    text-decoration: none;
    color: #698a85;
    
}

.offcanvas li {
    list-style-type: none;
}

#offcanvas-menu-account {
    width: 300px;
}

/* ----------------------------------- Header Styling ----------------------------------- */

header {
    font-family: 'Bitter', serif;
    font-weight: 200;
    letter-spacing: 2.5px;
}

.main-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lws-logo {
    height: 50px;
}

.lws-logo:hover {
    opacity: 0.7;
}

.lws-logo-font {
    font-family: 'Sacramento', cursive;
    font-size: calc(1.5rem + .9vw);
}

header .nav-link {
    color: #FFFFFF;
    padding: 0.5rem 0;
}

header .nav-link:hover {
    color: #FFFFFF95;
}

header .nav-link:focus {
    color: #FFFFFF;
}

.search-bar {
    border-radius: 20px !important;
}

/* ----------------------------------- Home Page Styling ----------------------------------- */

.home-container {
    height: 700px;
}

.home-image-main {
    background: center / cover no-repeat url("/media/crochet-hook.jpg");
    border-radius: 20px;
    border: 0.5px solid #F2BFDC;
}

.home-image-1, .home-image-2, .home-image-3, .home-image-4 {
    border-radius: 20px;
    border: 0.5px solid #F2BFDC;
}

.home-image-1 {
    background: center / cover no-repeat url("/media/beanies.jpg");
}

.home-image-2 {
    background: center / cover no-repeat url("/media/balls-of-yarn.jpg");
}

.home-image-3 {
    background: center / cover no-repeat url("/media/teddy-bear-hats.jpg");
}

.home-image-4 {
    background: center / cover no-repeat url("/media/heart-hat.jpg");
}

.home-image-flex {
    align-items: flex-end;
}

.image-grid img {
    height: 300px;
    max-width: 80%;
    object-fit: cover;
    border-radius: 10px;;
}

.home-image-callout {
    border-radius: 0 20px 0 20px;
    border-left: 1px solid #F2BFDC;
    border-bottom: 1px solid #F2BFDC;
    color: #Fff;
    background-color: rgba(77, 101, 98, 0.7);
}

.small-home-callout {
    border-radius: 20px 0 20px 0;
    border-left: 1px solid #F2BFDC;
    border-top: 1px solid #F2BFDC;
    color: #Fff;
    background-color: rgba(77, 101, 98, 0.8);
}

.small-home-callout h6{
    font-size: 0.9em;;
}

.small-home-callout button{
    font-size: 0.75em;;
}



/* ----------------------------------- Responsive Styling ----------------------------------- */

/* transition to medium screens */
@media (max-width: 992px) {

    .home-image-main {
        background-position: top;
    }

    .home-image-callout {
        height: 100%;
    }

    .home-image-callout {
        border-radius: 0 20px 20px 0;
        border-bottom: none;
    }

    .home-container {
        height: 800px;
    }
}

/* transition to small screens */
@media (max-width: 768px) {
    .home-image-callout h5 {
        font-size: 0.8rem;
    }

    .home-image-callout p, .home-image-callout button {
        font-size: 0.6rem;
    }
}