{% load static %}
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvas-menuLabel">Account Menu</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<hr>
<div class="offcanvas-body">
  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
  <div class="row">
    <div class="col-12 mt-2">    
      <a href="">
        <i class="fa-solid fa-industry fa-2xl mt-3"></i>
        <p class="mt-2">Product Management</p>
      </a>
    </div>
  </div>
  <hr>
  {% endif %}
  <div class="row">
    <div class="col-12 mt-3">    
      <a href="">
        <i class="fa-regular fa-user fa-2xl mt-3"></i>
        <p class="mt-2">My Profile</p>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 mt-3">    
      <a href="{% url 'account_logout' %}">
        <i class="fa-solid fa-right-from-bracket fa-2xl mt-3"></i>
        <p class="mt-2">Logout</p>
      </a>
    </div>
  </div>
  <hr>
{% else %}
<div class="row">
  <div class="col-12 mt-2">    
    <a href="{% url 'account_signup' %}">
      <i class="fa-solid fa-file-pen fa-2xl mt-3"></i>
      <p class="mt-2">Register</p>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 mt-3">    
    <a href="{% url 'account_login' %}">
      <i class="fa-solid fa-right-to-bracket fa-2xl mt-3"></i>
      <p class="mt-2">Login</p>
    </a>
  </div>
</div>
<hr>
{% endif %}
</div>

