{% load static %}

<div class="col-12 d-md-none pb-3">
    <div class="home-image-1 h-100">
      <div class="row h-100">
        <div class="col-5 offset-7">
            <div class="p-3 home-image-callout d-flex flex-column justify-content-evenly">
              <h5 class="text-center">Shop<br>gift-sets</h5>
              <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center">
                  <a href="{% url 'products' %}?category=gift-sets" class="btn btn-custom text-center">Shop Now</a>
                </div>
              </div>
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="col-12 d-md-none pb-3">
    <div class="home-image-2 h-100">
      <div class="row h-100">
        <div class="col-5 offset-7">
            <div class="p-3 home-image-callout d-flex flex-column justify-content-evenly">
              <h5 class="text-center">Learn to<br>Crochet</h5>
              <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center">
                  <button class="btn btn-custom text-center">Learn Now</button>
                </div>
              </div>
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="col-12 d-md-none pb-3">
    <div class="home-image-3 h-100">
      <div class="row h-100">
        <div class="col-5 offset-7">
            <div class="p-3 home-image-callout d-flex flex-column justify-content-evenly">
              <h5 class="text-center">Browse<br>Hats</h5>
              <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center">
                  <a href="{% url 'products' %}?category=hats" class="btn btn-custom text-center">Shop Now</a>
                </div>
              </div>
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="col-12 d-md-none pb-3">
    <div class="home-image-4 h-100">
      <div class="row h-100">
        <div class="col-5 offset-7">
            <div class="p-3 home-image-callout d-flex flex-column justify-content-evenly">
              <h5 class="text-center">Shop<br>Blankets</h5>
              <div class="row">
                <div class="col-12 mx-auto d-flex justify-content-center">
                  <a href="{% url 'products' %}?category=blankets" class="btn btn-custom text-center">Shop Now</a>
                </div>
              </div>
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="col-12 d-none px-md-4 mt-4 mt-lg-0 col-lg-6 image-grid mx-auto d-md-block">
    <div class="row h-50 pb-3 pe-3">
      <div class="col-6 ps-3 ps-lg-3 g-0">
        <div class="home-image-1 h-100">
          <div class="row h-100 home-image-flex">
            <div class="col-8 offset-4">
                <div class="p-2 small-home-callout">
                  <h6 class="text-center">Shop gift-sets</h6>                     
                       <div class="row">
                    <div class="col-12 mx-auto d-flex justify-content-center">
                      <a href="{% url 'products' %}?category=gift-sets" class="btn btn-custom text-center">Shop Now</a>
                    </div>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
      <div class="col-6 ps-4 ps-lg-3 g-0">
        <div class="home-image-2 h-100">
          <div class="row h-100 home-image-flex">
            <div class="col-8 offset-4">
                <div class="p-2 small-home-callout">
                  <h6 class="text-center">Learn to Crochet</h6>                     
                       <div class="row">
                    <div class="col-12 mx-auto d-flex justify-content-center">
                      <button class="btn btn-custom text-center">Learn Now</button>
                    </div>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
    <div class="row h-50 pt-3 pe-3">
      <div class="col-6 ps-3 ps-lg-3 g-0">
        <div class="home-image-3 h-100">
          <div class="row h-100 home-image-flex">
            <div class="col-8 offset-4">
                <div class="p-2 small-home-callout">
                  <h6 class="text-center">Browse Hats</h6>                     
                       <div class="row">
                    <div class="col-12 mx-auto d-flex justify-content-center">
                      <a href="{% url 'products' %}?category=hats" class="btn btn-custom text-center">Shop Now</a>
                    </div>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
      <div class="col-6 ps-4 ps-lg-3 g-0">
        <div class="home-image-4 h-100">
          <div class="row h-100 home-image-flex">
            <div class="col-8 offset-4">
                <div class="p-2 small-home-callout">
                  <h6 class="text-center">Shop Blankets</h6>                     
                       <div class="row">
                    <div class="col-12 mx-auto d-flex justify-content-center">
                      <a href="{% url 'products' %}?category=blankets" class="btn btn-custom text-center">Shop Now</a>
                    </div>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
</div>