<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown mx-2">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn to Crochet
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Cute Baby Hat</a>
                <a href="" class="dropdown-item">Soft Blankie</a>
                <a href="" class="dropdown-item">Fierce Bear Hat</a>
                <a href="" class="dropdown-item">All Learning</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-2">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Bear Hats</a>
                <a href="" class="dropdown-item">Love Hat Hearts</a>
                <a href="" class="dropdown-item">Bobble Hats</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-2">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blankets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Baby Blankets</a>
                <a href="" class="dropdown-item">Photo Shoot Blankets</a>
                <a href="" class="dropdown-item">All Blankets</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Assorted Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Collection</a>
                <a href="" class="dropdown-item">Gift Sets</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Assorted</a>
            </div>
        </li>
    </ul>
</div>