
<svg viewBox="-3.5 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    
    <title>Gift</title>
    <desc>Created with Sketch.</desc>
    <defs>

</defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Gift" sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)" stroke="#fff" stroke-width="2">
            <path d="M53,32.1 L53,59.7 C53,61 52,62 50.7,62 L4.4,62 C3.1,62 2.1,61 2.1,59.7 L2.1,32.1" id="Shape" sketch:type="MSShapeGroup">

</path>
            <path d="M55,29.7 C55,31 54,32 52.7,32 L2.3,32 C1,32 0,31 0,29.7 L0,19.4 C0,18.1 1,17.1 2.3,17.1 L52.7,17.1 C54,17.1 55,18.1 55,19.4 L55,29.7 L55,29.7 Z" id="Shape" sketch:type="MSShapeGroup">

</path>
            <path d="M42.3,9.8 C40.1,12 30.1,18.4 27.8,16.2 C25.6,14 32,3.9 34.2,1.7 C36.4,-0.5 40,-0.5 42.3,1.7 C44.5,3.9 44.5,7.6 42.3,9.8 L42.3,9.8 Z" id="Shape" sketch:type="MSShapeGroup">

</path>
            <path d="M12.6,9.8 C14.8,12 24.9,18.5 27.1,16.3 C29.3,14.1 22.9,4 20.6,1.8 C18.4,-0.4 14.8,-0.4 12.6,1.8 C10.4,3.9 10.4,7.5 12.6,9.8 L12.6,9.8 Z" id="Shape" sketch:type="MSShapeGroup">

</path>
            <path d="M20.6,25.2 C20.6,25.2 22.1,20.6 27.9,18.3 L27.9,61.9" id="Shape" sketch:type="MSShapeGroup">

</path>
            <path d="M27.5,18.4 C27.5,18.4 29.8,26.4 37.8,27.6" id="Shape" sketch:type="MSShapeGroup">

</path>
        </g>
    </g>
</svg>