{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load i18n %}
{% block extra_title %}
{{ block.super }}
- Login
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<div class="container">
  <div class="row mt-3">
    <div class="col-6 mx-auto">
      <h3 class="text-center main-title">{% trans "Sign In" %}</h3>
      <hr class="mx-auto main-hr">
    </div>
  </div>
    <div class="col-md-8 col-lg-6 mx-auto text-center">
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}" class="custom-link">sign up</a> first.{% endblocktrans %}</p>
    </div>

<div class="row">
  <div class="col-md-8 col-lg-6 mx-auto">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form | crispy}}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>


</div>
{% endblock %}
