{% extends "base.html" %}

{% load i18n %}
{% block extra_title %}
{{ block.super }}
- Logout
{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h3 class="text-center main-title">{% trans "Sign Out" %}</h3>
      <hr class="mx-auto main-hr">
    </div>
    <div class="col-md-8 col-lg-6 mx-auto text-center">
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row mt-3">
          <div class="col-6 col-lg-4 mx-auto">
            <button type="submit" value="Log out" class="btn-custom w-100 p-2"> 
              <span class="d-inline me-2">Log Out</span> <i class='fa-solid fa-right-from-bracket fa-lg d-inline'></i>
            </button>
          </div>
        </div> 
      </form>
    </div>
  </div>
 
</div>
{% endblock %}