{% extends "account/base.html" %}

{% load i18n %}

{% load i18n %}
{% block extra_title %}
{{ block.super }}
- Register
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h3 class="text-center main-title">Register</h3>
      <hr class="mx-auto main-hr">
    </div>
    <div class="col-md-8 col-lg-6 mx-auto text-center">
      <p>Already have an account? Then please <a href="{{ login_url }}" class="custom-link">sign in</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row mt-3">
          <div class="col-6 col-lg-4 mx-auto">
            <button type="submit" value="Log in" class="btn-custom w-100 p-2">
              <p class="d-inline me-2">Sign Up</p> <i class='fa-solid fa-file-pen fa-lg d-inline'></i>
            </button>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}