{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<div class="container email-container">
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center main-title">{% trans "Verify Your E-mail Address" %}</h3>
            <hr class="mx-auto main-hr">
        </div>
        <div class="col-md-10 col-lg-6 mt-5 mx-auto text-center">
            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the
                signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>


{% endblock %}