{% extends "base.html" %}

{% block content %}

        <div class="row">
            <div class="col-10 m-auto my-3 py-4 text-center text-danger bg-white rounded-3 shadow">
                <div class="row">
                    <div class="col-12 m-auto mt-3">
                        <h2 class="display-1">403 Error</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto p-4 text-center text-danger">
                        <i class="fa-solid fa-circle-exclamation fa-10x"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto p-3">
                        <h3 class="display-4">Forbidden</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto p-3">
                        <!-- text for bad request message from this site:
                        https://wetopi.com/error-400-bad-request/
                        -->
                        <p class="status-code-exception">You do not have the necessary permissions to view this page.</p>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 m-auto p-3 error-redirect">
                      <button title="Go to home page" class="btn text-danger" onclick="goHome()">
                        <i class="fa-solid fa-circle-left detail-icons"></i>
                    </button>
                        <p>You will be automatically redirected back to the home page in <span id="error-timer">10</span> seconds.</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock%}