.checkout-summary-row {
    color: #4d6562;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 16.66667%;
    margin-right: 12%;
    justify-content: space-between;
}

.checkout-a {
    color: #fff;
}

.summary-container {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

select,
select option {
    color: #212529;
}

select:invalid,
select option[value=""] {
    color: #6c757d !important;
}

.hidden {
    display: none;
  }
  
  #payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
  }
  
  #payment-element {
    margin-bottom: 24px;
  }

.order-confirmation-wrapper {
  border: 1px solid #f2cbe1;
  border-radius: 10px;
  font-size: 0.9rem;
}

#payment-message {
  color: red;
  font-weight: 700;
}

#card-charge-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
