{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
- {{product.name}}
{% endblock %}

{% block content %}
<div class="container-fluid products-container mt-md-2 w-100">
  <div class="row pt-lg-2">
    <div class="col-12">
      <h2 class="text-center main-title">{{product.name}} </h2>
      <hr class="mx-auto main-hr">
    </div>
  </div>
  <div class="row w-100 justify-content-center mx-auto">
    <div class="col-12 col-lg-9 mb-4 d-flex g-0 gx-lg-3 flex-column justify-content-between ">
      <div class="container-fluid product-detail-card h-100 mt-2 d-flex justify-content-between position-relative">
        <div class="row w-100 g-0">
          <div class="col-12 col-md-6 product-detail-image px-3 overflow-hidden mx-auto mt-auto position-relative overflow-visible">
            {% if user.is_superuser %}
            <div class="position-absolute top-0 start-50 translate-middle">
              <a href="{% url 'edit_product' product.id %}" id="edit-product-button"
              class="d-flex align-items-center justify-content-center p-2 btn-custom mt-3 mt-md-0 ms-3">
              <p class="text-center m-0 me-2 d-inline">Edit Product</p>
              <i class="fa-solid fa-plus d-inline"></i>
            </a>
            </div>
            {% endif %}
            <div class="w-100">
              {% if product.image %}
              <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
              </a>
              {% else %}
              <img class="" src="https://placeholder.pics/svg/300x300/DEDEDE/555555/No%20Image%20available"
                alt="{{ product.name}}">
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex pt-md-3 ps-3 align-items-center flex-column">
            <div class="col-12 p-md-0 mt-4 mt-md-0 offset-md-1 mb-md-2 product-description mx-auto">
              <p>
                {{ product.description }}
              </p>
            </div>
            <div class="col-12 product-price mx-auto mb-md-3">
              <p class="text-center m-0">€{{product.price}}</p>
            </div>
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST" id="product-form">
              {% csrf_token %}
              <div class="form-row row mt-2">
                <div class="col-5">
                  <p class="mt-3 text-end"><strong>Quantity:</strong></p>
                </div>
                <div class="col-6">
                  <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                  <div class="form-group mx-auto w-100 mt-2 px-2">
                    <div class="input-group">
                      <button class="btn btn-custom w-25 minus-button" type="button" ><i class="fa-solid fa-square-minus"></i></button>
                      <input class="form-control text-center qty-input" type="number" name="quantity" value="1" min="1" max="99"
                        data-item_id="{{ product.id }}" id="id_qty_selector">
                        <button class="btn btn-custom w-25 plus-button" type="button"><i class="fa-solid fa-square-plus"></i></button>
                    </div>
                  </div>
                </div>
                {% if sizes %}
                <div class="col-5">
                  <p class="mt-3 text-end"><strong>Size:</strong></p>
                </div>
                <div class="col-6">
                  <div class="form-group mx-auto w-100 mt-2 px-2">
                    <div class="input-group" id="size-popover"  role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-html="true" data-bs-sanitize="false" data-bs-placement="top"
                    title="<img src='/static/images/logo-transparent-background.png' class='rounded me-2 popover-logo'>No Size Selected" data-bs-content="{% include 'includes/popovers/no-size-popover.html' %}">
                      <select class="form-control" name="product_size" id='id_product_size'>
                        <option disabled selected>Please choose a size</option>
                        {% for s in sizes %}
                        <option value="{{s.get_size_display}}">{{s.get_size_display}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if colours %}
                <div class="col-5">
                  <p class="mt-3 text-end"><strong>Primary Colour:</strong></p>
                </div>
                <div class="col-6">
                  <div class="form-group mx-auto w-100 mt-2 px-2">
                    <div class="input-group" id="primary-colour-popover" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-html="true" data-bs-sanitize="false" data-bs-placement="left"
                    title="<img src='/static/images/logo-transparent-background.png' class='rounded me-2 popover-logo'>No Primary Colour Selected" data-bs-content="{% include 'includes/popovers/no-primary-colour-popover.html' %}">
                      <select class="form-control" name="product_colour" id='id_product_colour' required>
                        <option disabled selected>Please choose a colour</option>
                        {% for c in colours %}
                        <option value="{{c.get_colour_display}}">{{c.get_colour_display}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                {% if product.secondary_colour %}
                <div class="col-5">
                  <p class="mt-3 text-end"><strong>Secondary Colour:</strong></p>
                </div>
                <div class="col-6">
                  <div class="form-group mx-auto w-100 mt-2 px-2">
                    <div class="input-group" id="secondary-colour-popover" role="button" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-html="true" data-bs-sanitize="false" data-bs-placement="bottom"
                    title="<img src='/static/images/logo-transparent-background.png' class='rounded me-2 popover-logo'>No Secondary Colour Selected" data-bs-content="{% include 'includes/popovers/no-secondary-colour-popover.html' %}">
                      <select class="form-control" name="secondary_product_colour" id='id_secondary_product_colour'>
                        <option disabled selected>Please choose a colour</option>
                        {% for c in colours%}
                        <option value="{{c.get_colour_display}}">{{c.get_colour_display}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endif %}
                <div class="col-10 col-md-6 mb-2 mx-auto">
                  <input type="submit" class="btn btn-custom rounded-4 text-uppercase mt-4 w-100" value="Add to Cart" id="product-submit">
                </div>
                <div class="col-12 mx-auto text-center product-detail-return">
                  <a href="{% url 'products' %}" class="btn rounded-0 mb-3">
                    <span class="icon">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Back to Products</span>
                  </a>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="toast-container position-fixed">

</div>

{{ sizes_data|json_script:'sizes' }}
{{ colours_data|json_script:'colours' }}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}