{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
- Products
{% endblock %}

{% block content %}
  <div class="container-fluid products-container mt-2 w-100">
    <div class="row pt-lg-2" >
      <div class="col-12">
        <h2 class="text-center main-title">{{product.name}}</h2>
        <hr class="mx-auto main-hr">
      </div>
    </div>
    <div class="row w-100 justify-content-center mt-3 mx-auto">
      <div class="col-12 col-lg-10 mb-4 d-flex flex-column justify-content-between ">
        <div class="container product-detail-card h-100 d-flex justify-content-between position-relative">
          {% if product.learn_product %}
          <div class="learn-banner-detail rounded-circle d-flex flex-column align-items-center justify-content-center position-absolute">
            <i class="fa-solid fa-graduation-cap fa-xl d-block mt-2 mb-3"></i>  
            <p class="text-center m-0">{{product.category.friendly_name}}</p>
          </div>
          {% endif %}
        <div class="row w-100 g-0">
          <div class="col-6 product-detail-image p-3 overflow-hidden mx-auto">
            <div class="w-100">
              {% if product.image %}
              <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
              {% else %}
              <img class="" src="https://placeholder.pics/svg/300x300/DEDEDE/555555/No%20Image%20available" alt="{{ product.name}}">
              {% endif %}
            </div>
          </div>
       <div class="col-6 d-flex justify-content-center align-items-center flex-column">
          <div class="col-10 offset-1 mb-3 product-description mx-auto">
            <p>
              {{ product.description }}
            </p>
        </div>
          <div class="col-12 mt-2 product-price mx-auto mb-4">
            <h5 class="text-center m-0">€{{product.price}}</h5>
          </div>
          <div class="col-12 mt-2 w-100 product-price mx-auto d-flex justify-content-center">
            <a href="#" class="btn btn-custom text-center w-50">Buy Now</a>
          </div>
      </div>
      </div>
        
      </div>
    </div>
  </div>
    </div>
  </div>
{% endblock %}