{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
- Products
{% endblock %}

{% block content %}
<div class="container-fluid products-container mt-md-2 w-100">
  <div class="row pt-lg-2">
    <div class="col-12">
      <h2 class="text-center main-title">{{product.name}} </h2>
      <hr class="mx-auto main-hr">
    </div>
  </div>
  <div class="row w-100 justify-content-center mx-auto">
    <div class="col-12 col-lg-10 mb-4 d-flex g-0 gx-lg-3 flex-column justify-content-between ">
      <div class="container-fluid product-detail-card h-100 d-flex justify-content-between position-relative">
        <div class="row w-100 g-0">
          <div class="col-12 col-md-6 product-detail-image px-3 overflow-hidden mx-auto mt-auto">
            <div class="w-100">
              {% if product.image %}
              <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
              </a>
              {% else %}
              <img class="" src="https://placeholder.pics/svg/300x300/DEDEDE/555555/No%20Image%20available"
                alt="{{ product.name}}">
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex pe-md-5 pt-md-5 align-items-center flex-column">
            <div class="col-11 offset-1 col-md-10 p-md-0 mt-2 mt-md-0 offset-md-1 mb-md-2 product-description mx-auto">
              <p>
                {{ product.description }}
              </p>
            </div>
            <div class="col-12 mt-md-2 product-price mx-auto mb-md-4">
              <h5 class="text-center m-0">€{{product.price}}</h5>
            </div>
            <div class="col-12 mt-2 mb-md-4 w-100 product-price mx-auto d-flex justify-content-center">
              <a href="#" class="btn btn-custom text-center w-50">Buy Now</a>
            </div>
            {% if sizes or colours %}
            <div class="row w-100 mt-2 justify-content-center">
              {% if sizes %}
              <div class="col-2 d-flex justify-content-center">
                <a tabindex="0"
                  class="attributes-button btn rounded-circle d-flex flex-column align-items-center justify-content-center"
                  role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true"
                  data-bs-sanitize="false" title="Available Sizes" data-bs-content='
              <ul class="m-0">{% for size in sizes %}<li class="m-1">{{size.get_size_display}}</li> {% endfor %}</ul>
                <div class="text-center"><a href="/media/hat-size-guide.png"  target="_blank" rel="noreferrer noopener">Size Chart</a></div>
              '>
                  <i class="fa-solid fa-ruler-horizontal d-block"></i>
                </a>
              </div>
              {% endif %}
              {% if colours %}
              <div class="col-2 d-flex justify-content-center">
                <a tabindex="0"
                  class="attributes-button btn rounded-circle d-flex flex-column align-items-center justify-content-center"
                  role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true"
                  data-bs-sanitize="false" title="Available Colours" data-bs-content='
               <ul class="m-0">{% for colour in colours %}<li class="m-1">{{colour.get_colour_display}}</li> {% endfor %}</ul>
               '>
                  <i class="fa-solid fa-palette d-block"></i>
                </a>
              </div>
              {% endif %}
            </div>
            {% endif %}
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}