{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
- Products
{% endblock %}

{% block content %}

<div class="container-fluid products-container mt-2 w-100">
  <div class="row pt-lg-2">
    <div class="col-12 col-md-4 mx-auto">
      <div class="d-flex justify-content-center">
        <div class="d-inline me-3">
          {% if title == 'Hats' %}
            {% include 'includes/svgs/hat-icon.html' %}
          {% elif title == 'Learn to Crochet' %}
            {% include 'includes/svgs/learn-icon.html' %}
          {% elif  title == 'Blankets' %}
            {% include 'includes/svgs/blanket-icon.html' %}
          {% elif  title == 'Gift Sets' %}
            {% include 'includes/svgs/gift-sets-icon.html' %}
          {% elif  title == 'Search Products' %}
            {% include 'includes/svgs/search-icon.html' %}
          {% else %}
            {% include 'includes/svgs/product-icon.html' %}
          {% endif %}
        </div>
        <div class="flex-shrink-1 d-inline">
          <h2 class="text-center main-title">
            {{title}}</h2>
        </div>
      </div>
      <div class="row">
        <col-12>
         <hr class="mx-auto main-hr">
        </col-12>
      </div>
    </div>
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    
  <div class="col-12 col-md-4 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
    <div class="sort-select-wrapper mx-auto">
        <select id="selector" aria-label="Default select example" class=" form-select rounded-3 {% if current_sorting != 'None_None' %}select-sorting{% else %}black{% endif %}">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
        </select>
    </div>
</div>
<div class="col-12 col-md-4 order-md-first">
    <p class="text-muted mt-3 text-center text-md-left">
        {% if search_term or current_categories or current_sorting != 'None_None' %}
            <span class="small"><a href="{% url 'products' %}" class="custom-link">Products Home</a> | </span>
        {% endif %}
        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </p>
</div>
</div>
  <div class="row w-100 justify-content-center">
    {% for product in products %}
    <div class="col-md-4 col-lg-3 p-1 mb-2 d-flex flex-column justify-content-between position-relative">
      {% if product.learn_product %}
      <div
        class="circle-banner rounded-circle d-flex flex-column align-items-center justify-content-center position-absolute">
        <i class="fa-solid fa-graduation-cap fa-xl d-block mt-2 mb-3"></i>
        <p class="text-center m-0">{{product.category.friendly_name}}</p>
      </div>
      {% endif %}
      <div class="container product-card h-100 d-flex flex-column" onclick="location.href='{% url 'product_detail' product.pk %}';" aria-label="Product Detail page {{product.name}}">
        <div class="row w-100 g-0">
          <div class="col-12 product-image pt-2 overflow-hidden mx-auto">
            <div class="w-100">
              {% if product.image %}
              <img class="" src="{{ product.image.url }}" alt="{{ product.name}}">
              {% else %}
              <img class="" src="https://placeholder.pics/svg/300x300/DEDEDE/555555/No%20Image%20available"
                alt="{{ product.name}}">
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row w-100 g-0">
          <div class="col-12 product-title text-center mt-2">
            <p class="mb-1">{{ product.name }}</p>
          </div>
          <div class="col-12 product-price text-center">
            <p class="m-0">€{{ product.price }}</p>
          </div>
          {% if product.category %}
          <div class="col-12 text-center small">
            <i class="fa-solid fa-layer-group d-inline"></i>
            <p class="m-0 d-inline">{{ product.category.friendly_name }}</p>
          </div>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}