<div class="toast position-absolute" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-animation="true">
    <div class="toast-header text-white toast-header-success">
      <img src="/media/logo-transparent-background.png" class="rounded me-2 toast-logo" alt="...">
      <strong class="me-auto">Success</strong>
      <small class=""></small>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  </div>