<div class="toast position-fixed" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="{% if form.non_field_errors or form.errors %}10000{% else %}5000{% endif %}" data-bs-animation="true">
    <div class="toast-header text-white toast-header-error ">
      <img src="{{MEDIA_URL}}logo-transparent-background.png" class="rounded me-2 toast-logo" alt="Little Woolly Snuggles Logo" loading="lazy">
      <strong class="me-auto">Error</strong>
      <small class=""></small>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body {% for field in form.fields%} {% if field == 'login'%}login-error{% endif %}{% endfor %}">
      {{ form.non_field_errors }}
      {% for field in form %}
        {% if field != None %}
          {{field.errors}}
        {% endif %}
      {% endfor %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  </div>