<div class="toast position-fixed" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-animation="true">
    <div class="toast-header text-black toast-header-warning">
      <img src="{{MEDIA_URL}}logo-transparent-background.webp" class="rounded me-2 toast-logo" alt="Little Woolly Snuggles logo">
      <strong class="me-auto">Warning</strong>
      <small class=""></small>
      <button type="button" class="btn-close btn-close-black" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  </div>